body {
  background-color: #4c4a6b;
}

.app__container {
  display: flex;
  height: 100vh;
  width: 100vw;  
}

.app__container-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 90%;
}

.app__container-left {
  height: 100%;
  width: 10%;
}